<head
  <title> Profile page </title>
</head>

<body>
<h2><%= @user.username %> page</h2>



<h2> Followers: </h2>
<ul>
  <% for friendship in @user.friendships %>
      <li>
        <%= friendship.friend.username %>
      </li>
  <% end %>
</ul>

<h2> Following</h2>
<ul>
  <% for user in @user.inverse_friends %>
      <li><%= user.username %></li>
  <% end %>
</ul>

</body>


