.outbox_headline {
    margin-left: 20px;
}

.message_container {
    position: relative;
    border-bottom: 2px solid #333;
    border-top: 2px solid #333;
    padding: 20px 240px 20px 110px;
    margin: 0px 20px;
    margin-top: -2px;
}

.created_at {
    position: absolute;
    top:20px;
    right: 140px;
    font-style: italic;
    color: grey;
}

strong {
    position: absolute;
    left:20px;
}

p {
    text-align: justify;

}

.nav_panel {
    position: absolute;
    right: 130px;
    top:90px;
    display: inline-block;
    border-top: 1px solid lightgrey;
    margin-top: 5px;
    padding-top: 5px;
}

.picture {
    position: absolute;
    right: 20px;
    top:20px;
    border: 3px solid #333;
    width:100px;
    height: 100px;
    background-color: lightgrey;
    overflow: hidden;
}

.content {
    min-height: 60px;
}