.sidebar {
    background-color: gainsboro;
}

.users_avatar {
    background-color: white;
    border: 3px solid white;
    height: 150px;
    width: 150px;
    overflow: hidden;
    margin: 20px auto 10px;
}

.username {
    text-align: center;
}
.users_status {
    text-align: center;
    font-size: 12px;
}

.users_frienships {
    text-align: center;
    margin-top: 10px;
}

.link_to     {
    color: #333333;
}

#categories,
#top_rated,
#favorite,
#inbox,
#outbox,
#my_reports,
#all_reports {
    padding-left: 30px;
}

